<html 
    xmlns:th="http://WWW.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/org/extras/spring-security"
    >
  <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
    <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <br>
        <h2> [[#{articulo.titulo}]]</h2>
        <br>
        <a th:href="@{/articulo/nuevo}">[[#{articulo.nuevo}]]</a>
        <div th:if="${articulos != null and !articulos.empty}"> 
            <br>
            <table border="1">
                <thead>
                    <tr>
                        <th>[[#{articulo.descripcion}]]</th>
                        <th>[[#{articulo.detalle}]]</th>
                        <th>[[#{articulo.precio}]]</th>
                        <th>[[#{articulo.existencias}]]</th>
                        <th>[[#{articulo.activo}]]</th>
                        <th>[[#{accion.eliminar}]]</th>
                        <th>[[#{accion.actualizar}]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="articulo:${articulos}">
                        <td>[[${articulo.descripcion}]]</td>
                        <td>[[${articulo.detalle}]]</td>
                        <td style="text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</td>
                        <td style="text-align: center">[[${articulo.existencias}]]</td>
                        <td><input type="checkbox" name="activo" th:checked="${articulo.activo}" disabled="true"></td>
                        
                        <td><a th:href="@{/articulo/elimina/} + ${articulo.idArticulo}" >[[#{accion.eliminar}]]</a></td>
                        <td><a th:href="@{/articulo/actualiza/} + ${articulo.idArticulo}" >[[#{accion.actualizar}]]</a></td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div th:if="${articulos == null or articulos.empty}">
            <h3>[[#{articulo.no_mostra}]]</h3>   
        </div>
        
      </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>        