<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <br>

        <h2>Datos de Cliente</h2>
        <br>
        <a th:href="@{/cliente/listado}">Regresar</a>
        <br>
        <form th:action="@{/cliente/guardar}"
              method="post"
              th:object="${cliente}">
            <br>
            
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            
            <fieldset>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" 
                       required="true"
                       placeholder="Nombre"
                       th:field="*{nombre}"/>
            </fieldset>
            
            <fieldset>
                <label for="apellidos">Apellidos:</label>
                <input type="text" name="Apellidos" 
                       placeholder="Apellidos"
                       size="25"
                       th:field="*{apellidos}"/>
            </fieldset>
            
            <fieldset>
                <label for="correo">Correo:</label>
                <input type="email" 
                       placeholder="correo@xxxx.com"
                       size="15"
                       name="correo" th:field="*{correo}"/>
            </fieldset>
            
            <fieldset>
                <label for="telefono">Teléfono:</label>
                <input type="tel" name="telefono" 
                       placeholder="8888-8888"
                       size="9"
                       th:field="*{telefono}"/>
            </fieldset>
            
            <fieldset>
                <label for="credito">Límite de crédito:</label>
                <input type="number" 
                       name="credito" 
                       th:field="*{credito.limite}"/>
            </fieldset>
            <hr/>
            <input type="submit" name="guardar" value="guardar"/>
        </form>
        
        </div>
        <footer th:replace="layout/plantilla :: footer">
    </body>
</html>
                  