<html 
    xmlns:th="http://WWW.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    >
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <br>
        <h2> Datos de Categorias </h2>
        <br>
        <a th:href="@{/categoria/nuevo}">Nuevo categoria</a>

        <div th:if="${categorias != null and !categorias.empty}" ><!-- esto es como un bloque -->
            <br>
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Activo</th>
  
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="categoria:${categorias}">
                        <td>[[${categoria.descripcion}]]</td>
                        <td><input type="checkbox" name="activo" th:checked="${categoria.activo}" disabled="true"></td>
                        
                        <td><a th:href="@{/categoria/elimina/} + ${categoria.idCategoria}" >Elimina</a></td>
                        <td><a th:href="@{/categoria/actualiza/} + ${categoria.idCategoria}" >Actualiza</a></td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div th:if="${categorias == null or categorias.empty}">
            <h3>No tenemos categorias que mostrar</h3>   
        </div>
        
      </div>
        <footer th:replace="layout/plantilla :: footer">
    </body>
</html>
                  