<html 
    xmlns:th="http://WWW.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/org/extras/spring-security"
    >
  <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <br>

        <h2>[[#{categoria.titulo}]]</h2>
        <br>
        <a th:href="@{/categoria/listado}">[[#{accion.regresar}]]</a>
        <br>
        <form th:action="@{/categoria/guardar}"
              method="post"
              th:object="${categoria}">
            <br>
            
            <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
            
            <fieldset>
                <label for="descripcion">[[#{categoria.descripcion}]]</label>
                <input type="text" name="descripcion" 
                       required="true"
                       placeholder="Descripcion"
                       th:field="*{descripcion}"/>
            </fieldset>
            
            <fieldset>
                <label for="activo">[[#{categoria.activo}]]</label>
                <input type="checkbox" name="activo" 
                       th:field="*{activo}"/>
            </fieldset>

            <hr/>
            <input type="submit" name="guardar" value="guardar"/>
        </form>
        
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>