/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 sep. 2022, 09:57:06
    Author     : XPC
*/
 header{
    text-align:center;
    background-color: black;
    color: white;
    }
 article header{
    background-color: blue;
    color: white;
    }

h2{
    text-align:center;
    background-color: green;
    color: white
  }

  #titulo {
    font-size: 44px; 
  }
  .producto{
      background-color: bisque;
      
  }
  
  nav a{
    background-color: blue;
    color: white;
      
  }
  nav a:hover{
    background-color: black;
    color: white;
    font-size: 20px;
    animation-delay: 1s;
  }
  
  article:odd{
      
  }
  article:eve{
      
  }